 <div id="map"></div>
 <br><br>

<p><span class="label">Given address:</span>
<span class="address"><%= given_address %></span></p>
<p><span class="label">Closest rubbish bin:</span>
<span class="address"><%= closest_rubbish %></span></p>